<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @student.UIN %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Us citizen:</strong>
  <%= @student.US_citizen %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @student.degree %>
</p>

<p>
  <strong>Position type:</strong>
  <%= @student.position_type %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
